[project]
name = "a7-py"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "pytest>=8.4.1",
    "rich>=14.1.0",
]

[tool.setuptools.packages.find]
where = ["."]
include = ["src*"]
